@charset "utf-8";

/* reset */
html{background:#fff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;}
fieldset,img{border:0;}
img{vertical-align:top;}
address,caption,em,strong,th{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th,td{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}

/* base tag */
html {background-color: #f4f7f6;}
body {font-family: Roboto;}
@font-face {
  font-family: roboto;
  src: url('../font/Roboto-Light.ttf');
}
h1,h2,h3,h4,h5,h6,p {
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
    position: relative;
}
a {text-decoration: none;color: inherit;}
@keyframes frame1 {
    0%   {opacity: 0;top:-50px}
    25%  {opacity: 25%;}
    50%  {opacity: 50%;}
    75%  {opacity: 75%;}
    100% {opacity: 100%;top:0}
}
@keyframes frame2 {
    0%   {opacity: 0;left:-50px}
    25%  {opacity: 25%;}
    50%  {opacity: 50%;}
    75%  {opacity: 75%;}
    100% {opacity: 100%;left:0}
}
h1 {
    font-size: 52px;
    opacity: 1;
    text-align: center;
    -webkit-animation: frame1 1s;
    animation: frame1 1s;
}
h2 {
    font-size: 22px;
    opacity: 1;
    text-align: center;
    -webkit-animation: frame2 1s;
    animation: frame2 1s;
}
h3 {
    margin: 15px 0 10px 0;
    font-weight: 300;
    font-size: 25px;
}
p {
    font-size: 14px;
    text-align: left;
}

/* base class */
.clearfix:before,
.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}

.dispTable{
	display:table-cell;
	vertical-align: middle;
}
.dispInline li{display:inline-block;}
.dispList li{display:list-item;}

/* components */
.topHeading {
    margin-bottom: 50px;
}
.wrap01 {
    max-width: 1366px;
    margin: 0 auto;
}
.container { /* container to multiple centered div */
    width: 100%;
    margin: 0px auto;
    position: relative;
    text-align:center;
}
.block { /* the multiple centered div */
    height: 350px;
    width: 300px;
    display:inline-block;
    margin: 10px;
    overflow-y: hidden;
    transition: .3s;
    position: relative;
    opacity: .8;
    cursor: pointer;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.block div:nth-of-type(1){
    height: 200px;
}
.block:hover {
    transition: .3s;
    opacity: 1;
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.slide01{
    margin-left: 500px;
}

/* header */
#headerArea {
    padding-top: 10px;
    font-size: 14px;
}
#headerArea ul li a {
    margin-right: 15px;
    color: #000;
    transition: .3s;
}
#headerArea ul li a:hover {
    color: #00599A;
    transition: .3s;
}

/* main */
#mainArea {
    padding-top: 50px;
}

/* footer */
#footerArea {}