@charset "utf-8";

/* reset */
html{background:#fff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;}
fieldset,img{border:0;}
img{vertical-align:top;}
address,caption,em,strong,th{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th,td{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}

/* base tag */
* {
    font-family: segoe ui;
}
/* base class */
.clearfix:before,
.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}

.fL{float:left;}
.fR{float:right;}

.tB{font-weight:bold;}
.tL{text-align:left;}
.tC{text-align:center;}
.tR{text-align:right;}
.tI{font-style:italic;}
.tS{text-decoration: line-through;}

.t12{font-size:12px;}
.t14{font-size:14px;}
.t16{font-size:16px;}
.t18{font-size:18px;}
.t24{font-size:24px;}
.t48{font-size:48px;}
.tWhite{color:#fff;}

.mTB10{margin-top: 10px;margin-bottom: 10px;}
.mTB30{margin-top: 30px;margin-bottom: 30px;}
.mT30{margin-top: 30px;}
.mB30{margin-bottom: 30px;}

.dispTable{
	display:table-cell;
	vertical-align: middle;
}
.dispInline li{display:inline-block;}
.dispList li{display:list-item;}

/* components */

/* header */
#headerArea {}

/* main */
#mainArea {}

/* footer */
#footerArea {}