@charset "utf-8";

body {
	background-color: #000;
}
@font-face {
    font-family: Riga;
    src: url(../font/Riga-Black.otf);
}
@font-face {
    font-family: Ubuntu-L;
    src: url(../font/Ubuntu-L.ttf);
}

h1 {
	font-family: Riga;
	font-size: 350%;
	margin: 0;
}
h2 {
	font-family: Ubuntu-L;
	font-size: 150%;
	color: #fff;
	margin: 0;
}
p {
	font-family: Ubuntu-L;
	font-size: 120%;
	font-weight: 300;
	color: #fff;
	line-height: 30px;
}

.div-transparent {
	height: 100vh;
	width: 100vw;
	display: block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.54+26,1+100,1+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.54) 26%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.54) 26%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.54) 26%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.div-content {
	max-width: 960px;
	padding: 15px;
	margin: 0 auto;
}
.p-image {
	text-align: center;
}

#menu {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px;
	color: #fff;
	z-index: 1;
	background-color: #000;
}
#section0 {
	position: relative;
	background: url(../img/section_1_bg.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	z-index:2;
}
#section0 .caption {
	padding: 10px;
	position: absolute;
	bottom: 2%;
	left: 2%;
	color: #fff;
}

#section1 {
	background-color: #fff;
	display: table-cell;
    vertical-align: middle;
    width: 100vw;
}
#section1 img{
	width: 100%;
}
#mySidenav img {
	width: 100%;
}

#section2 {
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	background-color:rgba(0, 0, 0, 0.5);
}
