@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: Riga;
    src: url(../font/Riga-Black.otf);
}
@font-face {
	font-family: Ubuntu-L;
    src: url(../font/Ubuntu-L.ttf);
}

/* dropdown menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#section0 {
	background: url(../img/section_1_bg.jpg) no-repeat;
	background-color: rgba(0,0,0,.50);
	background-size: cover;
	text-align: center;
}
#section0 h1 {
	font-family: Riga;
	font-size: 250%;
	color: #fff;
}
#section0 h2 {
	font-family: Ubuntu-L;
	font-size: 150%;
	color: #fff;
	font-weight: 100;
}