@charset "utf-8";

/* reset */
html{background:#fff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;}
fieldset,img{border:0;}
img{vertical-align:top;}
address,caption,em,strong,th{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th,td{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}

/* base tag */
* {font-family: Ubuntu;}
html {background-color: #000;}
@font-face {
  font-family: Riga;
  src: url('../font/Riga-Black.otf');
}
@font-face {
  font-family: Ubuntu;
  src: url('../font/Ubuntu-R.ttf');
}
a {
	text-decoration: none;
	color: inherit;
}

/* base class */
.clearfix:before,
.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}

.fL{float:left;}
.fR{float:right;}

.tB{font-weight:bold;}
.tL{text-align:left;}
.tC{text-align:center;}
.tR{text-align:right;}
.tI{font-style:italic;}
.tS{text-decoration: line-through;}

h1 {
	font-size: 375%;
	letter-spacing: -1px;
	text-align: center;
	font-family: Riga;
}
h2 {
	font-size: 200%;
	letter-spacing: -1px;
	text-align: left;
	font-family: Ubuntu;
}
h3 {
	font-size: 125%;
	color: #f1ba1b;
}

iframe {
	display: block;
	margin: 0 auto;
}

.div-container {
	padding: 15px;
	margin: 0 auto;
	max-width: 994px;
	transition: all 1s;
}

.div-transparent-layer {
	background-color: rgba(0,0,0,.50);
}

.div-paragraph {font-size: 100%;}
.div-paragraph p {
	margin: 10px 0;
	color: #fff;
	transition: all 1s;
	opacity: 0;
	font-family: Ubuntu;
	line-height: 30px;
}

.div-image {
	margin: 30px auto;
	max-width: 1024px;
}
.div-image img {
	width: 100%;
	height: auto;
}

.show {
	transition: all 1s;
	opacity: 1 !important;
}

.div-border {
	width: 200px;
	margin: 15px auto 30px auto;
	height: 1px;
	background-color: #fff;
}
.div-borderLeft {
	width: 200px;
	margin: 15px 0;
	height: 1px;
	background-color: #fff;
}
.div-borderFull {
	height: 1px;
	background-color: #fff;
	margin: 20px 0;
}
.div-multiple { /* container to multiple centered div */
    width: 100%;
    margin: 15px auto;
    position: relative;
    text-align:center;
}
.div-block { /* the multiple centered div */
    height: 40px;
    width: 200px;
    display:inline-block;
    margin: 10px;
    overflow-y:  hidden;
}

.div-anchor {height: 30px;}
.div-anchor:focus {outline: none;}

.parallax-window {
    height: 300px;
    background: transparent;
}

#navArea {
	position: fixed;
	padding: 5px;
	width: 100%;
	font-size: 12px;
	top: 0;
	z-index: 9;
	color: #fff;
	background-color: #000;
}
#navArea ul {
	max-width: 994px;
	margin: 0 auto;
}
#navArea ul li{
	display: inline;
	margin-right: 5px;
	font-family: Ubuntu;
	color : #f1ba1b;
}

#mainArea {overflow-x: hidden;}

#section_1 {
	/* background: url(../img/section_1_bg.jpg) no-repeat; */
	background-position: center;
	height: 100vh;
  	width: 100vw;
	overflow: hidden;
}
#section_1 .div-transparent-layer {
	height: 100vh;
  	width: 100vw;
	position: relative;
}
#section_1 .div-caption {
	position: absolute;
	bottom: 5%;
	left: 2%;
	z-index: 11;
}
#section_1 video {
	position: absolute;
	z-index: 9;
	max-width: 1920px;
	opacity: 1;
}

#section_1 h1, #section_1 h2 {
	color: #fff;
	text-align: left;
}
#section_1 h2 {font-size: 105%;}

#section_2 {padding: 50px 0 0 0;}
#section_2 h1, #section_2 h2 {
	color: #fff;
}

#section_3 p {
	color: #fff;
	margin-bottom: 25px;
}