@charset "utf-8";

/* reset */
html{background:#fff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;}
fieldset,img{border:0;}
img{vertical-align:top;}
address,caption,em,strong,th{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th,td{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}

/* base tag */
@font-face {
    font-family: Riga;
    src: url(../../font/Riga-Black.otf);
}
@font-face {
	font-family: Ubuntu;
	src: url(../../font/ubuntu-l-webfont.woff2);
}
html {background-color: #000;}
a {
	text-decoration: none;
	color:inherit;
}
h1 {
	font-family: Riga;
	color: #fff;
}
h2 {
	font-family: Riga;
	color: #fff;
}
h3 {
	font-family: Riga;
	color: #fff;
}
p {
	color: #fff;
	font-family: Ubuntu;
	font-weight: 100;
}
/* base class */
.clearfix:before,
.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}

.fL{float:left;}
.fR{float:right;}

.tB{font-weight:bold;}
.tL{text-align:left;}
.tC{text-align:center;}
.tR{text-align:right;}
.tI{font-style:italic;}
.tWhite{color:#fff;}

.div-section {
	position: relative;
}
.div-text {
	max-width: 730px;
	margin: 0 auto;
	padding: 15px;
}
.div-text h2 {
	font-size: 225%;
	text-align: center;
	margin: 50px 0 20px 0;
	transition: all 1s;
	/* opacity: 0; */
}
.div-text h3 {
	font-size: 130%;
	margin: 50px 0 10px 0;
	transition: all 1s;
	/* opacity: 0; */
}
.div-text p {
	font-size: 100%;
	margin-bottom: 20px;
	line-height: 25px;
	transition: all 1s;
	/* opacity: 0; */
}
.div-map {
	width: 1250px;
	height: 420px;
	margin: 300px auto 10px auto;
	background: url(../../img/section_2_bg.png) no-repeat;
	background-size: contain;
	position: relative;
}
.div-imageA {
	margin: 10px auto;
	max-width: 900px;
}
.div-imageA img{width: 100%;}
.div-imageA p {
	padding: 0 10px;
	margin-top: 5px;
	font-size: 75%;
	font-family: arial;
	font-style: italic;
}

.div-imageB {
    width: 100%;
    margin: 0px auto;
    position: relative;
    text-align:center;
}
.div-imageB div {
    max-width: 450px;
    display: inline-block;
    margin: 5px;
	overflow-y: hidden; 
}
.div-imageB div img {width: 100%;}
.div-imageC {
	opacity: 0;
}
.div-imageC div {
	width: 45%;
	float: left;
}
.div-imageC div:last-of-type {
	padding: 20px;
	line-height: 30px;
}
.div-imageC div img {
	width: 100%;
}
.div-imageSide {
	width: 100px;
	height: 100px;
	position: fixed;
	z-index: 30;
	top: 10%;
	left: 5%;
}
.div-imageSide img {
	width: 100%;
}
.div-borderA {
	width: 100%;
	height: 20px;
	background-color: #fff;
}
.div-borderB {
	width: 150px;
	height: 1px;
	background-color: #fff;
	float: right;
}
.text-dropCap {
    float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
}
.text-lead {margin-bottom: 50px;}
.text-lead p{
	font-family: Times;
	text-align: right;
	font-size: 20px !important;
	font-style: italic;
	color: #fff;
}
.text-quote {
	width: 250px;
	float: right;
	text-align: right;
	margin: 5px -50px 10px 5px;
	font-style: italic;
	font-size: 175%;
    font-family: Times;
    line-height: 30px;
	color: #efdeae;
}
.tQ {
    font-size: 170%;
    font-family: Times;
	color: #f1ba1b;
}
.link-mapCaption {
	position: absolute;
	color: #fff;
	width: 20px;
	height: 45px;
	background: url(../../img/mux-side.png) no-repeat;
	background-size: contain;
	display: table;
}
.link-mapCaption a {
	display: table-cell;
	vertical-align: bottom;
	font-family: Riga;
	color: #fff;
}
.link-socMed img{
	width: 40px;
	float: right;
}
.animated{
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-fill-mode:both;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-ms-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}
.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.show {
	transition: all 1s;
	opacity: 1 !important;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-10px);}
	60% {-webkit-transform: translateY(-5px);}
}
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-15px);}
	60% {-moz-transform: translateY(-5px);}
}
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-15px);}
	60% {-o-transform: translateY(-5px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-15px);}
	60% {transform: translateY(-5px);}
}

.sidenav {
	width: 0;
    height: 100%;
    position: fixed;
    z-index: 31;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: scroll;
	transition: .5s;
    padding-top: 60px;
	color: #fff;
}
.sidenav .div-map {margin-top: 30px;}
.sidenav #closebtn {
    position: fixed;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
	display: none;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 568px) {
	.div-imageB div {
		margin: 5px 0;
	}
	.text-quote {
		margin: 5px 5px 15px 5px;
	}
}

/* parallax styles */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
	font-family: Riga;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	font-size: 400%;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	display: table;
	width: 100%;
}
section.module.parallax-1 {
  background-image: url("../../img/content_img_001.jpg");
}
section.module.parallax-2 {
  background-image: url("../../img/content_img_006.jpg");
}
.container {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align:middle;
	text-align: center;
	background-color: rgba(0,0,0,.50)
}

#wrap {display: none;}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("http://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
	background-size: 5%;
}
/* main */
#headerArea {
	position: fixed;
	width: 100%;
	padding: 12px 8px 8px 20px;
	color: #fff;
	background-color: #000;
	z-index: 30;
	font-family: Ubuntu;
	box-sizing: border-box;
}
#section_1 {
	width: 100%;
	height: 100vh;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	background: url(../../img/section_1_bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 30;
}
#section_1 .div-transparentA {
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: rgba(0,0,0,.70);
	display: table;
}
#section_1 .div-caption {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#section_1 h1 {font-size: 400%;}
#section_1 h2 {
	margin-top: 15px;
	font-size: 150%;
}
#section_2 {
	box-sizing: border-box;
	overflow-y: hidden;
	z-index: 28;
	background-color: #000;
	margin-bottom: 150px;
}
#section_2 #logo_eksplor {
	opacity: .2;
	position: fixed;
	display: block;
	width: 100%;
	top: 25px;
}
#section_2 #logo_eksplor img {
    margin: 0 auto;
    display: block;
}
#section_2 #logo_isuzu {
	opacity: .2;
	position: absolute;
	top: 18%;
    left: 42%;
}
#section_3 {
    background-color: #000;
	z-index: 29;
}
#section_4 {
	padding-top: 50px;
	border-top: 1px solid #fff;
	background-color: #000;
	z-index: 29;
    position: relative;
	margin-bottom: 48px;
}
#section_4 h3 {
	margin: 10px 0;
	color: #f1ba1b;
}
#footerArea {
	position: fixed;
	width: 100%;
    bottom: 0;
	color: #fff;
	background-color: #000;
	z-index: 29;
	font-family: Ubuntu;
	box-sizing: border-box;
}
#horizontal {
	position: fixed;
    width: 65px;
    height: 0px;
    left: 0;
    bottom: 33px;
    z-index: 31;
}
#horizontal img {
	width: 100%;
}
#footerArea span {
	cursor: pointer;
    position: relative;
    padding: 5px 20px;
    display: block;
	float: right;
	text-align: center;
	background-color: #b88900;
	z-index: 32;
}